@using Supplier.Control.Domain.Models
@model SupplierModel

@{
    ViewData["Title"] = "Ajuste";
}

<h1>Ajuste</h1>

<div>
    <a class="btn btn-dark" asp-action="Index"><i class="bi bi-house-fill" title="Visão Geral"></i></a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id"><i class="bi bi-pencil-fill" title="Atualizar"></i></a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id"><i class="bi bi-trash3-fill" title="Remover Fornecedor"></i></a>
</div>

<hr />

<div class="row" style="width: 100%; justify-content: center;">
    <div class="card text-white bg-dark mb-3" style="width: 70%; align-items: center;">
        <div class="card-header">
            Fornecedor
        </div>
        <div class="card-body">
            <dl class="row" style="text-align: center; justify-content: center;">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-20">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <hr />
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Document)
                </dt>
                <dd class="col-sm-20">
                    @Html.DisplayFor(model => model.Document)
                </dd>
                <hr />
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd class="col-sm-20">
                    @{
                        string descriptopnIsActive = Model.IsActive ? "Sim" : "Não";
                    }
                    @descriptopnIsActive
                </dd>
            </dl>
        </div>
    </div>
</div>

